.input-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 90px;
}

.icon {
    position: relative;
    top: -37px;
    left: 320px;
    cursor: pointer;
}

.constIcon {
    color: darkgray;
}

.icon-error {
    color: red;
}

.inputLabel {
    margin-bottom: 8px;
}

input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding: 20px 16px;
    border: 1px solid #E9E8EB;
    border-radius: 12px;
    background: white;
}

input:focus {
    border: 1px solid #775CE5;
}

.input-border-error {
    border-color: red;
    color: red; 
}

.label-error {
    color: red;
}

.input-border-error {
    border: 1px solid red;
}

.error-password__active {
    color: red;
    font-size: 12px;
    margin-bottom: 0px;
}
